#wrapper {
  background-color: #dae9f5;
  justify-items: center;
}

.header {
  justify-content: space-between;
  width: 1500px;
}

.header > .topHeader {
  display: flex;
}

.header > .secondHeader {
  display: flex;
  justify-content: space-between;
}

.secondHeader > .firstDep {
  display: flex;
}

.body {
  background-image: url('/img/bg.jpg');
}
